@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant|Neucha');

.content_fixed{
	margin-top:80px;
}

.content__item{
  clear:both;
  padding:20px;
}

.content__item_h1_center{
  margin-bottom:20px;
  text-align: center;
}

.content__item h1{
  display: inline;
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Neucha', cursive;
  border: 2px solid white;
  color:#415370;
  border-radius:30px;
  padding:10px;
}

.content__item p{
  padding: 5px;
  font-size: 1.4em;
  font-family: 'Cormorant Infant', serif;
  text-align: left;
}

.content__item img{
  height:400px;
  float:left;
  margin:10px;
}

.content__contact-p{
  float:left;
  width:45%;
}
.content__contact-map {
  float:left;
  width: 45%;
  height:250px;
}


@media screen and (max-width:600px){
  .content__item img,
  .content__item p,
  .content__contact-map,
  .content__contact-p {
    float: none;
  }

	.content__item img{
		display:block;
    width:80%;
    height:auto;
		margin:auto;
	}

	.content__contact-map,
  .content__contact-p {
    width:100%;
  }

}
