a {
  text-decoration: none;
  color:inherit;
}

.header_fixed{
  position:fixed;
  top:0;
  left:0;
  width:100%;
}

.header__menu{
  background-color: #7693c1;
  text-align:right;
  padding:10px;
  margin:0;
  list-style-type: none;
}

.header__item{
  display:inline-block;
  text-transform: uppercase;
  padding: 5px;
  border: 2px solid #a9cafc;
  border-radius: 15px;
  color:white;
}

.header__item:hover{
  border: 2px solid white;
  color:#415370;
}

